@charset "UTF-8";
/* CSS Document */

Body{
	background-image: url("images3/bloodbackground.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

#container{
	width:1440px;
	margin:0 auto;
}

header{
	width:100%;
	height:100%;
}

header h1{
	font-size: 55px;
	font-weight: 400;
	font-style: normal;
	text-align: center;
}

h2{
	font-size: 30px;
	font-family: blockhead-dark-side, sans-serif;
    font-weight: 400;
    font-style: normal;
	color:#9DACBB
}

p1{
	font-size: 20px;
	font-family: blockhead-unplugged, sans-serif;
    font-weight: 400;
    font-style: normal;
	color:#F5F9FC
}

article{
	float: center;
	padding-bottom:60px;
	width:110%;
	height:100px;
	background-color:#4D5660
}

nav {
	width:100%;
	text-align: center; 
	
}

nav ul{
	list-style-type: none;
	margin:0;
	padding:0;
	
}

nav li{
	display:inline;
	
}
table, th, td{
	border:1px solid #D50110; 
	border-radius: 10px;
}
th, td{
	background-color:#9DACBB
}

table{
	border-spacing: 30px
}

th, td{
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 30px;
	padding-right: 40px;
}

td{
	font-family: blockhead-dark-side, sans-serif;
	color:#4D5660
}

 nav td a:link{
	color: #4D5660;
}

nav td a:visited{
	color: #D50110;
}

nav td a:hover{
	color: #080808;
}

nav td a:active{
	color: #F5F9FC;
}

caption{
	font-family: blockhead-unplugged, sans serif;
	color:#9DACBB
}

footer{
	text-align: center;
	clear:both;
	
}

nav a:link{
	font-family: blockhead-unplugged, sans-serif;
    font-weight: 400;
    font-style: normal;
	color:#F5F9FC;
	text-decoration:none;
	margin-right: 30px;

}

nav a:visited{
	
}

nav a:hover{
	color:#9DACBB
}

footer{
	color:#F5F9FC
}

form{
	text-align: right
}
